doctype html
html
    head
        style
            include style.css
    body
        div
            h2
                | OUR WEB SITE
        hr
        div
            block content
        hr
        div.footer
            | Best regards

