body{
    background-color: cornflowerblue;
    font-size: 1rem;
    line-height: 2rem;
    padding: 20px;
}
.footer{
    background-color: cornflowerblue;
    text-align: center;
    padding: 20px;
}
